aiohttp==3.9.0b0
aiosignal==1.3.1
anyio==4.3.0
appdirs==1.4.4
asgiref==3.7.2
attrs==23.1.0
Brotli==1.1.0
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.2
colorama==0.4.6
crispy-bootstrap4==2023.1
cssselect2==0.7.0
distlib==0.3.8
dj-database-url==0.5.0
Django==5.0.1
django-ckeditor==6.7.1
django-cors-headers==4.3.1
django-crispy-forms==2.1
django-heroku==0.3.1
django-js-asset==2.2.0
django-tinymce==4.0.0
filelock==3.13.1
fonttools==4.44.0
frozenlist==1.4.0
gunicorn==20.0.4
h11==0.14.0
html5lib==1.1
httpcore==1.0.4
httpx==0.26.0
idna==3.4
multidict==6.0.4
mysql-connector==2.2.9
numpy==1.26.1
openai==0.28.1
packaging==23.2
Pillow==10.1.0
psycopg==3.1.18
pycparser==2.21
pydyf==0.8.0
pyphen==0.14.0
python-telegram-bot==20.8
pytz==2023.3.post1
reportlab==4.0.7
requests==2.31.0
setuptools==68.2.2
six==1.16.0
sniffio==1.3.0
sqlparse==0.4.4
tinycss2==1.2.1
tqdm==4.66.1
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.0.7
validate-email==1.3
virtualenv==20.0.31
weasyprint==60.1
webencodings==0.5.1
wheel==0.41.3
whitenoise==5.2.0
xlwt==1.3.0
yarl==1.9.2
zopfli==0.2.3
