<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Emailing Page</title>
</head>
<body>

    <h1>Inbox</h1>
    <ul>
    {% for message in received_messages %}
        <li>
            <strong>From:</strong> {{ message.sender.username }}<br>
            <strong>Subject:</strong> {{ message.subject }}<br>
            <strong>Timestamp:</strong> {{ message.timestamp }}<br>
            <a href="{% url 'read_message' message.id %}">Read Message</a>
        </li>
    {% endfor %}
    </ul>

<h1>Send Message</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Send</button>
</form>

<a href="/" style="font-size: 60px;">&#8249;</a>


</body>
</html>
